body {color: #6b4440}

div.ex1 {
  width: 1000px;
  margin: auto;
}


.myDiv {
    border: 1px outset rgb(77, 74, 74);
    background-color: rgb(248, 250, 252);
    text-align: left;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}